section {
  min-height: 100vh;
}

.gradient-custom {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
}

.mask-custom {
background: rgba(24, 24, 16, .2);
border-radius: 2em;
backdrop-filter: blur(15px);
border: 2px solid rgba(255, 255, 255, 0.05);
background-clip: padding-box;
box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

#chatroom-title-card {
  border: none;
  color: white;
}

li {
  list-style: none;
}

#messages-container {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  float:right;
  height: 585px;
  width: 640px;
}

#rooms-container {
  height: 669px;
  overflow-y: auto;
}

#messages-input {
  position: sticky;
  bottom: 0;
  width: 100%;
  margin-bottom: 10px;
}

#wall_container {
  float:right;
  height: 668px;
  overflow-y: auto;
}

.room-info {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(24, 24, 16, .2);;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(24, 24, 16, .2);;
}

.send-message{
  // background: rgba(24, 24, 16, .2);
  // border-radius: 2em;
  // backdrop-filter: blur(15px);
  // background-clip: padding-box;
  // box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
  width: 630px
}

.user-card {
  height: 570px;
  width: 900px;
  position: center;
}

.user-card-title {
  font-size: 30px;
}

.bio-description {
  font-size: 13px;
}


.user-infos-label {
  font-size: 13px;
}

.user-infos-text {
  font-size: 12px;
}

.button-small {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
  text-decoration: none;
  font-size: 11px;
  width: 100px;
  height: 10px;
}

.button-small:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-medium {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
  text-decoration: none;
  font-size: 17px;
  width: 120px;
  height: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-table;
  text-align: center;
}

.button-medium:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-big {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
  border-radius: 20px;
  border-width: 1px;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  height: 40px;
  margin-right: 30px;
  font-size: 15px;
}

.button-big:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.button-link-style {
  font-size: 15px;
  padding-top: 9px;
  color: white;
}

.button-link-style:hover {
  color: rgba(255, 255, 255, 0.3);
}

#message-list-div {
  height: 490px;
  overflow-y: auto;
  margin-top: -15px;
}

#post-list-div {
  height: 490px;
  overflow-y: auto;
}
