<div>
  <% @chatrooms.each do |chatroom| %>
    <div class="p-4 bg-gray-100 rounded-lg mb-2 cursor-pointer">
      <h3 class="text-lg font-semibold"><%= chatroom.name %></h3>
    </div>
  <% end %>
</div>
